*{
    margin: 0.2em;
    padding: 0em;
    box-sizing: 0em;
    font-family: "Roboto", sans-serif;
}

main{
    border: 5px solid black;
    margin: 30vh auto;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(75, 159, 161);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


h2{
    font-size: 1.4rem;
}



label {
    font-size: 1.4;
    width: 90%;
    padding: 0.2em;
    margin: 0.2;
    background-color: rgb(107, 199, 201);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input {
    font-size: 1.4em;
    width: 90%;
    padding: 0.2em;
    margin: 0.5em 0.5em;

}

button{
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 30em;
    text-align: center;
    width: fit-content;
}

.btnGroup{
    text-align: center;
}

.btnReset{
    color: white;
    background: rgb(218, 90, 90);
    
}

.btnSubmit{
    background-color: rgb(90, 218, 104);

}