* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
    padding: 15px 30px;
    border: 2px solid #333;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    gap: 20px;
}


.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.row {
    display: grid;
    gap: 20px;
}

.row-1 {
    grid-template-columns: 1fr 1fr;
}

.row-2 {
    grid-template-columns: 1fr 2fr 1fr;
}

.box {
    border: 3px solid royalblue;
    border-radius: 8px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: orange;
}

footer {
    margin: 20px;
    padding: 20px;
    border: 2px solid royalblue;
    border-radius: 20px;
    text-align: left;
    color: royalblue;
}