* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 600px;
    height: 300px;
    background-color: rgb(62, 192, 20);
    margin: 100px auto;
    
}

.banner {
    position: absolute;
    color: black;
    background: rgb(192, 255, 238);
    width: fit-content; 
    padding: 10px 40px;
    border: 2px solid black;
    left: 50%;
    top: 0; 
    transform: translate(-50%, -50%); 
    
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}


.close {
    position: absolute;
    color: black;
    background: rgb(237, 237, 237);
    width: 25px;
    height: 25px;
    border: 1px solid black;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.left {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    
    transform: translate(-50%, -50%); 
}

.bottom {
    position: absolute;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 40%;
    bottom: -1%;
    right: 5%;
    transform: translate(50%, 50%); 
}


.text {
    position: absolute;
    width: fit-content;
    padding: 20px 40px;
    border: 2px dotted white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 32px;
    white-space: nowrap;
}