/* --- Global Reset & Settings --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FDFBF0;
    color: #333;
}

header {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
    background-color: #FDFBF0; */

    background-color: #FDFBF0;
    width: 100%;
    /* ตัด padding ออกแล้วไปคุมที่ container แทน */

}
.container-header {
    max-width: 1980px;      /* จอกว้างแค่ไหน ก็จะกว้างสุดแค่นี้ */
    width: 90%;             /* ถ้าจอเล็กกว่า 1440px ให้เหลือขอบข้าง 5% */
    margin: 0 auto;         /* จัดกึ่งกลางหน้าจอเสมอ */
    height: 80px;           /* กำหนดความสูง Header */
    padding: 0.5%;
    
    display: flex;          /* เปิดระบบ Flex */
    justify-content: space-between; /* หัวใจสำคัญ: ดัน Logo ซ้ายสุด Menu ขวาสุด */
    align-items: center;    /* จัดให้อยู่กลางแนวตั้ง */
}

/* --- Header --- */
.logo {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu {
    display: flex;
    gap: 40px;              /* ระยะห่างระหว่าง HOME ABOUT CONTACT */
    align-items: center;
    /* ลบ margin-left: 15rem; ทิ้งไปเลย! */
}

.nav-menu a {
    text-decoration: none;
    color: #333;            /* เปลี่ยนสีให้ชัดเจน */
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}


.hamburger {
    margin-top: 0.5em;
    margin-right: 4em;
    display: none;
}

.line {
    width: 2.5em;
    height: 4px;
    background: black;
    margin-bottom: 6px;
    border-radius: 2px;
}


nav a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    margin-left: 20px;
    font-size: 14px;
}

/* --- Hero Section --- */

hr {
    /* ลดระยะห่างด้านบนของเส้น hr */
    margin-top: 5px; /* ปรับตัวเลขตามความเหมาะสม (ปกติ browser จะให้มาประมาณ 8-16px) */
    
    /* (ตัวเลือกเสริม) ถ้าอยากให้เส้นบางลงหรือสีจางลง */
    border: 0;
    border-top: 1px solid #000000; /* สีเทาอ่อน */
    margin-bottom: 5px; /* ระยะห่างด้านล่าง */
}

.hero {
    position: relative;
    width: 100%;
    height: 450px; /* ความสูงของภาพปก */
    padding: 10px;
    border-radius: 4em 4em 4em 4em;
    overflow: hidden;
    
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ทำให้ภาพเต็มจอโดยไม่ยืด */
    -webkit-mask-image: linear-gradient(to left, black 10%, transparent 110%);
          mask-image: linear-gradient(to left, black 10%, transparent 110%);
}

.hero-content {
    position: absolute;
    top: 90%;
    left: auto;
    text-align: left;
    transform: translateY(-100%); /* จัดกึ่งกลางแนวตั้ง */
    /* background: rgba(255, 255, 255, 0.8); /*พื้นหลังจางๆ ให้อ่านตัวหนังสือออก*/ 
    
    padding: 3%;
    border-radius: 4em 4em 4em 4em;
    width: 80%;
    height: 80%;
    max-width: 800px;
}



.hero-content h3 {
    color: #444; /* สีทอง */
    margin-bottom: 10px;
    text-shadow: #b89337 4px 4px 5px; /* เงาสีทอง */
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #444;
    text-shadow: #b89337 4px 4px 5px; /* เงาสีทอง */
}

.hero-content p {
    font-size: clamp(1rem, 5vw, 0.5rem);
}

.hero-content button {
    background-color: #554D44;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    margin-top: 15px;
    height: 13%;
    width: 150px;
}

.hero-content button:hover {
    box-shadow: #ffffff -5px -10px 40px ;
}

.hero-p{
    text-shadow: #997A2E 10px 10px 20px;
}

/* --- Services Bar --- */
.services-bar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #FDFBF0; /* สีแถบเทาอมเหลือง */
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

/* --- Gallery Section --- */
.gallery {
    display: grid;
    /* Grid 4 ช่อง สำหรับ Desktop */
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    padding: 0.7%;
    height: 50%;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px; /* มุมโค้งตามแบบ */
}

/* --- Footer --- */
footer {
    text-align: center;
    padding: 40px 20px;
    background-color: #FDFBF0;
    border-top: 1px solid #ddd;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #666;
}

footer p {
    color: #666;
    font-size: 28px;
    margin-bottom: 10px;
}

footer p1 {
    color: #666;
    font-size: 18px;
    margin-top: 10px;
}

/* ========================================= */
/* RESPONSIVE DESIGN (MOBILE)          */
/* ========================================= */

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        margin-top: 0.5em;
        margin-left: 40%;
    }

    .nav-menu {
        display: none; /* ซ่อนเมนูปกติบนมือถือ */
    }

    /* 1. Header: จัดเมนูให้อยู่กึ่งกลาง */
    .hero {
    position: relative;
    width: 95%;
    height: 500px; /* ความสูงของภาพปก */
    padding: 10px;
    margin-left: 3%;
    border-radius: 4em 4em 4em 4em;
    overflow: hidden;
    }

    .hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ทำให้ภาพเต็มจอโดยไม่ยืด */
    -webkit-mask-image: linear-gradient(to left, black 0%, transparent 105%);
          mask-image: linear-gradient(to left, black 0%, transparent 105%);
    }

    .hero-content {
    top: 90%;
    left: 2%;
    text-align: left;
    transform: translateY(-100%); /* จัดกึ่งกลางแนวตั้ง */
    /* background: rgba(255, 255, 255, 0.8); /*พื้นหลังจางๆ ให้อ่านตัวหนังสือออก*/ 
    
    padding: 30px;
    border-radius: 4em 4em 4em 4em;
    width: 80%;
    height: 80%;
    max-width: 600px;
    }



    .hero-content h3 {
        color: #444; 
        font-size: 15px;
        text-shadow: #d2cdc1 4px 4px 5px;
    }

    .hero-content h1 {
        font-size: 25px;
        margin-bottom: 15px;
        color: #444;
        text-shadow: #d2cdc1 4px 4px 5px; 
    }

    .hero-content p {
        font-size: clamp(1rem, 5vw, 0.5rem);

    }

    .hero-content button {
        background-color: #554D44;
        color: white;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        font-size: 80%;
        cursor: pointer;
        height: 13%;
        width: 150px;
    }

    /* 3. Services: เรียงลงมาแนวตั้ง */
    .services-bar {
        /* flex-direction: column;
        text-align: center;*/
        gap: 5px; 
        display: flex;
        justify-content: space-around;
        padding: 20px ;
        
    }
    
    .desktop-only {
        display: none !important;
    }

    /* 4. Gallery: เหลือแถวละ 1 รูป (หรือ 2 ก็ได้) */
    .gallery {
        grid-template-columns: repeat(2, 4fr);
        /* ถ้าอยากได้แถวละ 2 รูป ให้แก้เป็น repeat(2, 1fr) */
        height: 50%;
        width: 90%;
        padding: 10px;
    }

    footer{
        text-align: left;
    }
    footer h3 {
        font-size: 20px;
        color: #666;    
    }

    footer p {
        color: #666;
        font-size: 20px;
    }

    footer p1 {
        color: #666;
        font-size: 12px;
    }
}